.container {
  img {
    width: 60px;
    height: 60px;
    float: left;
  }
}
:global {
  .ant-menu-overflow {
    justify-content: flex-end;
  }
  .ant-menu-item-disabled,
  .ant-menu-submenu-disabled {
    color: gray !important;
  }
  .ant-menu-horizontal {
    border-bottom: none;
  }
  @media screen and (max-width: 992px) {
    .ant-menu-overflow {
        width: 100px;
        float: right;
    }
    .ant-layout-header {
        padding: 0 30px;
    }
  }
}
